Pods/FirebaseMLVisionObjectDetection/Frameworks/FirebaseMLVisionObjectDetection.framework/FirebaseMLVisionObjectDetection filter=lfs diff=lfs merge=lfs -text
Pods/FirebaseMLCommon/Frameworks/FirebaseMLCommon.framework/FirebaseMLCommon filter=lfs diff=lfs merge=lfs -text
ARDemo/Resources/Models/ObjectDetectorModel.mlmodel filter=lfs diff=lfs merge=lfs -text
